body {
    overflow-x: hidden;

    font-size: 16px;
}

#center {
    text-align: center;
}

#right {
    text-align: right;
}

#left {
    text-align: left;
}

#form label {
    font-size: 16px;
}

#form input, #form select, #form textarea, #form button {
    width: 100%;

    font-size: 16px;
}

#form button, #form input[type=submit] {
    border: 1px solid black;

    padding-top: 5px;
    padding-bottom: 5px;
}

#form textarea {
    resize: vertical;
}

#table table, #calendar-table table {
    width: 100%;

    font-size: 16px;
}

#table tr, #calendar-table tr {
    text-align: center;
}

#calendar-table-td-date {
    padding-bottom: 25px;

    width: 14.28%;
}

#calendar-table-td-single-event {
    width: 100%;
    margin-bottom: 10px;
}

#table .even, #calendar-table .even {
    background-color: lightgrey;
}

.page-supertitle {
    font-size: 26px;
}

.page-title {
    font-size: 22px;
}

.page-subtitle {
    font-size: 20px;
}

#toppanel, #toppanel-right, #subpanel {
    padding: 5px;

    /*background-color: rgb(212, 212, 212, 0.5);*/
    background-color: rgba(147, 215, 255, 0.5);
    backdrop-filter: blur(5px);

    font-size: 20px;
}

#toppanel-right {
    text-align: right;
}

#toppanel .general-link, #subpanel .general-link, #toppanel .toppanel-link, #subpanel .toppanel-link {
    margin-left: 10px;
}

#toppanel-right .general-link, #toppanel-right .toppanel-link {
    margin-right: 10px;
}

.general-link{
    color: black;
    text-decoration: underline;

    font-size: 16px;
}

.toppanel-link {
    color: black;
    text-decoration: none;

    font-size: 20px;
}

.toppanel-link:hover {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid rgb(100, 100, 100);
}

.toppanel-link:active {
    color: black;
    text-decoration: none;
    border-bottom: 2px solid black;
}

.general-link:hover {
    color: black;
    text-decoration: none;
}

.general-link-bigger {
    color: black;
    text-decoration: underline;

    font-size: 18px;
}

.general-link-bigger:hover {
    color: black;
    text-decoration: none;
}

.comment-text {
    color: black;
    font-size: 14px;
}

.comment-info {
    color: black;
    font-size: 14px;
}

#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 9999;

    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#bulk_actions {
    position: fixed;

    bottom: 1%;
    right: 1%;
    width: 350px;
    height: 49%;
    
    border-radius: 25px;

    /*background-color: rgb(212, 212, 212, 0.5);*/
    background-color: rgba(147, 215, 255, 0.5);
    backdrop-filter: blur(5px);
}

.widget {
    /*background-color: rgb(212, 212, 212, 0.5);*/
    background-color: rgba(147, 215, 255, 0.5);
    backdrop-filter: blur(5px);

    padding: 10px;
}

#notifications {
    display: none;

    width: 25%;
    height: 300px;

    position: fixed;

    z-index: 99;

    right: 10px;

    top: 11%;

    /*background-color: rgb(212, 212, 212, 0.5);*/
    background-color: rgba(147, 215, 255, 0.5);
    backdrop-filter: blur(5px);

    padding: 10px;

    overflow-y: scroll;
}

.success {
    background-color: lightgreen;
    border: 1px solid green;
    color: green;
}

.warn {
    background-color: rgb(255, 187, 60);
    border: 1px solid red;
    color: red;
}

.error {
    background-color: lightcoral;
    border: 1px solid darkred;
    color: darkred;
}

.info {
    background-color: lightblue;
    border: 1px solid darkblue;
    color: darkblue;
}

div[id^="flash-message-"] {
    padding: 10px;

    margin: 10px;

    border-radius: 5px;
}

div[id^="dropdownmenu-ribbon-"] {
    position: absolute;
    width: 150px;
    height: 150px;
    /*background-color: rgb(212, 212, 212, 0.5);*/
    background-color: rgba(147, 215, 255, 0.5);
    backdrop-filter: blur(5px);
}

#grid-first-page-control-btn, #grid-previous-page-control-btn, #grid-next-page-control-btn, #grid-last-page-control-btn {
    border: 1px solid grey;

    border-radius: 5px;

    width: 35px;
}

#grid-loading {
    position: fixed;

    top: 50%;
    left: 49%;
}

#grid-empty-message {
    border: 1px solid darkblue;
    color: darkblue;
    background-color: lightblue;
    padding: 10px;
}