<div class="row">
    <div class="col-md-2">
        $LIST$
    </div>

    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-title">Client list</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $LINKS$
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="table">
                $CLIENT_GRID$
                $CLIENT_GRID_CONTROL$
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>
</div>