<div class="row">
    <div class="col-md-2"></div>

    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-title">$NAME$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $LINKS$
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                $PROFILE$
            </div>
        </div>

        <div class="row">
            <div class="col-md">
                <p class="page-subtitle">Users</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="table">
                $USER_GRID$
                $USER_GRID_CONTROL$
            </div>
        </div>
    </div>

    <div class="col-md-2"></div>
</div>