<div class="row">
    <div class="col-md-1"></div>

    <div class="col-md">
        <div class="row">
            <div class="col-md" id="center">
                <p class="page-title">$PAGE_TITLE$</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="left">
                $LINKS$
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="center">
                $CONTROLLER$
            </div>
        </div>

        <div class="row">
            <div class="col-md" id="calendar-table">
                $CALENDAR$
            </div>
        </div>
    </div>

    <div class="col-md-1"></div>
</div>